.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

textarea {
    width: 100%;
}

.chat-rbox {
    height: auto;
    position: relative;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
 }

 .calif-btn{
     border-radius: 5px;
     background: dodgerblue;
     color:white;
     text-align: center;
     font-weight: bold;
     padding: 7px;
 }
 
 .calif-btn:hover{
    cursor: pointer;
}

#textoChat{
    display: initial !important;
}